<div class="freelance">
  <div class="content-wrap">
    <!-- // Work Experience -->
    <section>
      <h2>Freelance Projects (March 2019 - Present)</h2>
      <!-- Practive Book Apps -->
      <div class="row">
        <div class="col-12">
          <!-- Job Details: copy this whole block to add more jobs -->
          <h3>The Practice Book App Series</h3>

          <!-- Add as many paragraphs as you need. -->
          <h4>Project Summary</h4>
          <p>These are apps for students to practice mathematics. The app is a simple multiple-choice questions app
            connected to a
            Firebase backend for authentication</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- This list can be deleted if you don't want to use it. -->
          <h4>Technologies Used</h4>
          <ul>
            <li>Ionic</li>
            <li>Angular</li>
          </ul>
          <!-- end of Job Details block. -->
        </div>
        <div class="col">
          <!-- languages used -->
          <h4>App URLS</h4>
          <ul>
            <li><a
                href="https://play.google.com/store/apps/details?id=com.million_little_company.maths_n2_practice_book">Maths
                N2 The Practice Book</a></li>
            <li><a
                href="https://play.google.com/store/apps/details?id=com.million_little_company.maths_n3_practice_bookFreelance Projects">Maths
                N3 The Practice Book</a></li>
            <li><a
                href="https://play.google.com/store/apps/details?id=com.million_little_company.maths_n4_practice_book">Maths
                N4 The Practice Book</a></li>
            <li><a
                href="https://play.google.com/store/apps/details?id=com.million_little_company.maths_n5_practice_book">Maths
                N5 The Practice Book</a></li>
          </ul>
        </div>
      </div>
      <hr style="background-color: white;">
      <!-- Practive Book Apps -->
      <div class="row">
        <div class="col-12">
          <!-- Job Details: copy this whole block to add more jobs -->
          <h3>The Practice Book Web App</h3>

          <!-- Add as many paragraphs as you need. -->
          <h4>Project Summary</h4>
          <p>This is the web version of The Practice Book App Series</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- This list can be deleted if you don't want to use it. -->
          <h4>Technologies Used</h4>
          <ul>
            <li>Angular</li>
          </ul>
          <!-- end of Job Details block. -->
        </div>
        <div class="col">
          <!-- languages used -->
          <h4>App URLS</h4>
          <ul>
            <li><a href="https://www.thepracticebook.co.za/home"> The Practice Book</a></li>

          </ul>
        </div>
      </div>
      <hr style="background-color: white;">
      <!-- Practive Book Apps -->
      <div class="row">
        <div class="col-12">
          <!-- Job Details: copy this whole block to add more jobs -->
          <h3>Pro Notify Communications Platform</h3>

          <!-- Add as many paragraphs as you need. -->
          <h4>Project Summary</h4>
          <p>This is a web app that can be used to send SMS, Emails and messages to a mobile app. A user can upload
            users via an
            excel upload. The can create channels and groups and send messages to them.</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- This list can be deleted if you don't want to use it. -->
          <h4>Technologies Used</h4>
          <ul>
            <li>Angular</li>
          </ul>
          <!-- end of Job Details block. -->
        </div>
        <div class="col">
          <!-- languages used -->
          <h4>App URLS</h4>
          <ul>
            <li><a href="https://pro-notify.com/"> Pro Notify</a></li>

          </ul>
        </div>
      </div>
      <hr style="background-color: white;">
      <!-- Practive Book Apps -->
      <div class="row">
        <div class="col-12">
          <!-- Job Details: copy this whole block to add more jobs -->
          <h3>Pro Notify Mobile Apps</h3>

          <!-- Add as many paragraphs as you need. -->
          <h4>Project Summary</h4>
          <p>This is the app that receives messages from the Pro Notify Communications web app</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- This list can be deleted if you don't want to use it. -->
          <h4>Technologies Used</h4>
          <ul>
            <li>Ionic</li>
            <li>Angular</li>
          </ul>
          <!-- end of Job Details block. -->
        </div>
        <div class="col">
          <!-- languages used -->
          <h4>App URLS</h4>
          <ul>
            <li><a href="https://play.google.com/store/apps/details?id=com.company.little.million.pronotify"> Pro Notify
                App (Play Store)</a></li>
            <li><a href="https://apps.apple.com/us/app/id1529742547"> Pro Notify App (Apple Store)</a></li>

          </ul>
        </div>
      </div>
    </section>




  </div>
</div>