<div class="header">
    <nav>
        <a href="#header">About Me</a>
        <a href="#work-experience">Experience</a>
        <a href="#education">Education</a>
        <a href="#contact-info">Contact Me</a>
    </nav>
  <div class="content-wrap">
    <div class="col-narrow">
      <img class="profile-image" src="./assets/images/profile-pic.PNG" alt="benjamin-image">
    </div>
    <div class="col-wide">
      <h1>Kumbirai Benjamin Deve</h1>
      <h2>Front-end Developer (Angular)</h2>
      <p>I am an Electronic Engineer by training from the University of Pretoria,
        however, am now a practicing front-end web developer.
        I ventured into software because I found myself drawn to the software
        components of my training and it appeared to be a career line with the potential for more job satisfaction.
      </p>
    </div>
  </div>
  <a href="./assets/CV KUMBIRAI BENJAMIN DEVE 2019.pdf" class="btn download" download>Download PDF</a>
</div>