<div class="header">
  <nav>
    <a href="#header">About Me</a>
    <a href="#work-experience">Experience</a>
    <a href="#freelance">Freelance Projects</a>
    <a href="#education">Education</a>
    <a href="#contact-info">Contact Me</a>
  </nav>
  <div class="content-wrap">
    <div class="col-narrow">
      <img class="profile-image" src="./assets/images/profile-pic.PNG" alt="benjamin-image">
    </div>
    <div class="col-wide">
      <h1>Kumbirai Benjamin Deve</h1>
      <h2>Front-end Developer (Angular)</h2>
      <p>I am an Electronic Engineer by training from the University of Pretoria and I am now a practicing front-end web
        developer. I began my career as a junior Frontend Developer at Ex Mente Technologies (a metallurgy consultancy
        company
        in Pretoria with a software department). I have done a couple of freelance projects where i have created Angular
        and
        Ionic apps which are currently active on Play and Apple stores. I am currently working in the Managed Services
        Team at
        Dimension Data doing Microsoft support services.
      </p>
      <p>
        I have been using mainly Typescript to develop freelance web desktop applications using Angular. Stemming from
        this, I
        am also adept with JavaScript, CSS and HTML. I am highly motivated by the prospect of developing my skills as a
        front-end developer and hope to soon be a full-stack developer.

      </p>
    </div>
  </div>
  <a href="./assets/CV KUMBIRAI BENJAMIN DEVE.pdf" class="btn download" download>Download PDF</a>
</div>