<div class="work-experience">
  <div class="content-wrap">
      <!-- // Work Experience -->
      <section>
          <h2>Work Experience</h2>
  
          <div class="col-top">
            <!-- Job Details: copy this whole block to add more jobs -->
            <h3>Front-end Developer</h3>
            <p>Ex Mente Technologies</p>
            <p>November 2017</p>
            
            <!-- Add as many paragraphs as you need. -->
            <h4>Job Summary</h4>
            <p>At Ex Mente Technologies, I used Typescript to develop web desktop applications using Angular.
                Stemming from this, I am also adept with JavaScript, CSS and HTML. 
                I worked in a team with a back-end developer and I was tasked with redeveloping the front-end of their 
                existing web application using the Angular framework.</p>
          </div>
          <div class="col-left">
                     <!-- This list can be deleted if you don't want to use it. -->
          <h4>Key Duties</h4>
            <ul>
              <li>Redevelopment of existing software in Angular</li>
              <li>Create scalable and maintainable Angular applications</li>
              <li>Create reusable components and modules in Angular</li>
              <li>Write unit tests for components></li>
              <li>Implement User Experience Design (UX) principles in web design</li>
            </ul>
            <!-- end of Job Details block. -->
          </div>   
          <div class="col-right">
            <!-- languages used -->
            <h4>Languages Used</h4>
            <ul>
              <li>JavaScript</li>
              <li>Typescript</li>
              <li>CSS</li>
              <li>HTML5</li>
            </ul> 
          </div> 
      </section>
    </div>
</div>