<div class="footer">
  <div class="content-wrap">
    <h2>Let's Keep in Touch!</h2>

    <!-- Social media and contact links. Add or remove any networks. -->
    <div class="contact-info">
      <a href="mailto:kbdeve@gmail.com">
        <fa-icon [icon]="email">
          <span class="sr-only">Email</span>
        </fa-icon>
      </a>
      <!-- <a href="http://yourwebsite.com" target="_blank">yourwebsite.com</a> -->
      <a href="https://twitter.com/KumbiraiDeve" target="_blank">
        <fa-icon [icon]="faTwitter">
          <span class="sr-only">Twitter</span>
        </fa-icon>
      </a>
      <a href="https://www.linkedin.com/in/kumbirai-benjamin-deve-88036a71/" target="_blank">
        <fa-icon [icon]="faLinkedIn">
          <span class="sr-only">LinkedIn</span>
        </fa-icon>
      </a>
      <a href="https://www.facebook.com/kumbiraibenjamin" target="_blank">
        <fa-icon [icon]="faFacebook">
          <span class="sr-only">Facebook</span>
        </fa-icon>
      </a>
    </div>

    <p>Copyright 2020 by Kumbirai Benjamin Deve</p>
  </div>
</div>