<div class="footer">
  <div class="content-wrap">
      <h2>Let's Keep in Touch!</h2>
          
      <!-- Social media and contact links. Add or remove any networks. -->
      <div class="contact-info">
          <a href="mailto:kbdeve@gmail.com">kbdeve@gmail.com</a>
          <!-- <a href="http://yourwebsite.com" target="_blank">yourwebsite.com</a> -->
          <a href="#" target="_blank">Twitter</a>
          <a href="#" target="_blank">LinkedIn</a>
          <a href="#" target="_blank">Facebook</a>
      </div>
      
      <p>Copyright 2017 by Kumbirai Benjamin Deve</p>
  </div>
</div>