<div class="education">
  <div class="content-wrap">
      <!-- // Education -->
      <section>
          <h2>Education</h2>

          <!-- School details: copy this whole block to add more schools. -->
          <h3>University of Pretoria</h3>
          <p>Bachelor of Engineering (2016)</p>

          <!-- Online courses. -->
          <h3>Online Courses</h3>
          <p>Udemy</p>
          <ul>
            <li>Angular 7 – The Complete Guide</li>
            <li>Testing Angular Apps with Jasmine</li>
            <li>Angular Authentication – Mastering the basics</li>
            <li>The Web Developer Bootcamp</li>
            <li>Complete Typescript for beginners</li>
            <li>Python and Django Full-Stack Web Developer Bootcamp</li>
          </ul>

          <h3>Additional Skills</h3>
          <p>Libraries</p>
          <ul>
            <li>Bootstrap</li>
            <li>Prime Ng</li>
            <li>JQuery</li>
            <li>NgRx</li>
            <li>Apollo(GraphQL)</li>
          </ul>
      </section>     
  </div> 
</div>